/* András-Cili-Emőke co-operation  */ 

body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* Size settings */
.container {
    width: 100%;
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.column {
    min-width: 300px;
    width: 15em;
    margin: 0.5em;
    border-radius: 5px;
    padding: 0.5em;
    height: max-content; /* CSS 4.0: "max-content" is not a valid value for the "height" property */
}
.column h3 {
    margin: 0 0 0.5em 0; 
}

.card {
    margin: 0.25em 0;
    padding: 0.5em;
    border-radius: 5px;
    max-height: 150px;
    overflow: auto;
}
.card h5 {
    margin : 0px 0px 0.5em 0px;
}



/*** color settings ***/

/* zebra theme */
.zebra {
    background-color: teal;
}

.zebra h3 {
    color: white;
}
.zebra .card:nth-child(even) {
    background-color: #f2f2f2;
    color: #161818;
}
.zebra .card:nth-child(odd) {
    background-color: #161818;
    color: #f2f2f2;
}

/* dark theme */
html.dark {
    background-color: #2A293E;
    background-image: linear-gradient(to bottom left, #19182D, #342037, #11294D);
    background-attachment: fixed;
}
.dark {
    color: white;
}
.dark h3 {
    color: #786481;
}
.dark h5 {
    color: palegoldenrod;
}
.column.dark {
    box-shadow: 0 0 3px 3px #786481;
    background-color: rgba(0,0,0,0); /*transparent*/
}
.card.dark {
    margin-bottom: 15px;
    box-shadow: 0 0 2px 2px palegoldenrod;
}

/* light theme */
html.light {
    background-color: #FAFAFA;
}

.light {

}
/* medium theme*/

.medium .card {
    color:black;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    background-color: #fce9e9;
}

.medium.column {
    background: #f8d3d3;
    border: 2px solid #eb7c7a;
}

.medium h3 {
    font-family: 'Alice', serif;
    font-size: 19px;
    text-align: center;
    font-weight: bolder;
   }
   
.medium h5 {
    font-family: 'Alice', serif;
    font-size: 17px;
   }
.medium p {
    font-size: 14px;
   }
   
.light h3 {
    color: #6A7785;
}
.light.card {
    background-color: #FEFFFF;
    text-transform: uppercase;
    font-family: "Baloo Thambi 2", cursive;
    color: #6A7785;
}
