/* András-Cili-Emőke co-operation  */ 

body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* Size settings */
.container {
    width: 100%;
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.column {
    width: 15em;
    margin: 0.25em;
    border-radius: 5px;
    padding: 0.5em;
    height: max-content; /* CSS 4.0: "max-content" is not a valid value for the "height" property */
}
.column h3 {
    margin: 0 0 0.5em 0; 
}

.card {
    margin: 0.25em 0px 0.25em 0px;
    padding: 0.5em;
    border-radius: 5px;
    max-height: 150px;
    overflow: auto;
}

.card h5 {
    margin : 0px 0px 0.5em 0px;
}


/*** color settings ***/

/* zebra theme */
.zebra {
    background-color: teal;
}

.zebra h3 {
    color: white;
}
.zebra .card:nth-child(even) {
    background-color: #f2f2f2;
}
.zebra .card:nth-child(odd) {
    background-color: rgb(22, 24, 24);
    color: rgb(184, 224, 214);
}

/* dark theme */
.dark {

}

/* light theme */
.light {

}
/* medium theme*/
.medium card {
    color:black;
    text-align: center;
    border-radius: 5px;
    font-family: 'Patrick Hand', cursive;
    background: #fce9e9;
}

.medium column {
    background: #f8d3d3;
    border: 2px solid #eb7c7a;
}

.medium h3 {
    font-family: 'Alice', serif;
    font-size: 19px;
    text-align: center;
    font-weight: bolder;
   }
   
.medium h5 {
    font-family: 'Alice', serif;
    font-size: 17px;
   }
.medium p {
    font-size: 14px;
   }
   
