/* dark theme */


html.dark { 
    background-image : linear-gradient(to bottom left, #19182D, #342037, #11294D);
    background-attachment : fixed;
    background-color : #2A293E;
    color : white;
    /* background-size : ; */
}       
.dark.column { 
    background-color : rgba(0,0,0,0);
    box-shadow : 0 0 3px 3px #786481;
    /* border : ;
    cursor : ; */
}
.dark h3 { 
    color : #786481;
    /* font-family : ;
    font-size : ;
    text-align : ;
    font-weight : ; */
}
.dark.card { 
    margin-bottom : 15px;
    box-shadow : 0 0 2px 2px palegoldenrod;
    /* color : ;
    text-align : ;
    font-family : ;
    background-color : ; */
}
.dark h5 { 
    color : palegoldenrod;
    /* font-family : ;
    font-size : ;
    padding-top : ; */
}
/* .dark .card:nth-child(even) { 
    background-color : ;
    color : ;
}
.dark .card:nth-child(odd) { 
    background-color : ;
    color : ;
} */
/* .dark p { 
    font-size : ;
} */
/* .dark.newCard { 
    color : ;
    font-weight : ;
    font-family : ;
    background : ;
    text-decoration : ;
    font-size : ;
    min-width : ;
    width : ;
    border : ;
    padding : ;
    margin : ;
}
.dark.newCard:hover { 
    background-color : ;
    color : ;
    border-radius : ;
} */
.navbar.dark { 
    box-shadow : 0 0 3px 3px #786481;
    /* background-color : ;
    border : ;
    font-family : ;
    font-size : ;
    font-weight : ; */
}
/* .navbar.dark a { 
    color : ;
    text-decoration : ;
} */
/* .navbar.dark .dropdown .dropbtn { 
    color : ;
    font-size : ;
    font-weight : ;
} */
/* .navbar.dark a:hover, .navbar.dark .dropdown:hover .dropbtn { 
    background-color : ;
    color : ;
} */
/* .navbar.dark .dropdown .dropdown-content { 
    background-color : ;
} */
/* .navbar.dark .dropdown .dropdown-content a { 
    color : ;
} */

/* light theme */


html.light { 
    background-color : #FAFAFA;
    /* background-image : ;
    background-size : ;
    background-attachment : ; */
}
.light.column { 
    background-color : #D7E7ED;
    box-shadow : 1px 1px 3px #888888;
    cursor : pointer;
    /* border : ; */
}
.light h3 { 
    color : #6A7785;
    /* font-family : ;
    font-size : ;
    text-align : ;
    font-weight : ; */
}
.light.card { 
    color : #6A7785;
    font-family : "Baloo Thambi 2", cursive;
    background-color : #FEFFFF;
    box-shadow : 1px 1px 3px #888888;
    /* text-align : ;
    margin-bottom : ; */
}
.light h5 { 
    font-size : medium;
    padding-top : 5px;
    /* font-family : ;
    color : ; */
}
/* .light .card:nth-child(even) { 
    background-color : ;
    color : ;
}
.light .card:nth-child(odd) { 
    background-color : ;
    color : ;
} */
/* .light p { 
    font-size : ;
} */
.light.newCard { 
    color : #6A7785;
    font-family : "Baloo Thambi 2", cursive;
    background : #D7E7ED;
    text-decoration : none;
    font-size : medium;
    min-width : 300px;
    width : 15em;
    border : none;
    padding : 0.9em;
    margin : 0.27em 0 0 0;
    /* font-weight : ; */
}
.light.newCard:hover { 
    background-color : #ACB9BE;
    color : #6A7785;
    border-radius : 5px;
}
.navbar.light { 
    background-color : #D7E7ED;
    font-size : 19px;
    font-weight : bolder;
    box-shadow : 1px 1px 3px #888888;
    /* border : ;
    font-family : ; */
}
.navbar.light a { 
    color : #6A7785;
    text-decoration : none;
}
.navbar.light .dropdown .dropbtn { 
    color : #6A7785;
    font-size : 19px;
    font-weight : bolder;
}
.navbar.light a:hover, .navbar.light .dropdown:hover .dropbtn { 
    background-color : rgb(79, 165, 196);
    color : rgb(224, 232, 240);
}
.navbar.light .dropdown .dropdown-content { 
    background-color : #D7E7ED;
}
/* .navbar.light .dropdown .dropdown-content a { 
    color : ;
} */

/* medium theme */


html.medium { 
    background-image : url("resources/IMG-20190406-WA0035.jpg");
    background-size : cover;
    background-attachment : fixed;
    /* background-color : ; */
}
.medium.column { 
    background-color : #f8d3d3;
    border : 2px solid #eb7c7a;
    /* box-shadow : ;
    cursor : ; */
}
.medium h3 { 
    font-family : 'Alice', serif;
    font-size : 19px;
    text-align : center;
    font-weight : bolder;
    /* color : ; */
}
.medium.card { 
    color : black;
    text-align : center;
    font-family : 'Patrick Hand', cursive;
    background-color : #fce9e9;
    /* margin-bottom : ;
    box-shadow : ; */
}
.medium h5 { 
    font-family : 'Alice', serif;
    font-size : 17px;
    /* color : ;
    padding-top : ; */
}
/* .medium .card:nth-child(even) { 
    background-color : ;
    color : ;
}
.medium .card:nth-child(odd) { 
    background-color : ;
    color : ;
} */
.medium p { 
    font-size : 14px;
}
.medium.newCard { 
    color : black;
    font-weight : bold;
    font-family : 'Alice', serif;
    /* background : ;
    text-decoration : ;
    font-size : ;
    min-width : ;
    width : ;
    border : ;
    padding : ;
    margin : ; */
}
.medium.newCard:hover { 
    background-color : #eb7c7a;
    /* color : ;
    border-radius : ; */
}
.navbar.medium { 
    background-color : rgba(246,210,211,0.6);
    border : 2px solid rgba(235,124,122,0.6);
    font-family : 'Alice', serif;
    font-size : 19px;
    font-weight : bolder;
    /* box-shadow : ; */
}
.navbar.medium a { 
    color : black;
    text-decoration : none;
}
.navbar.medium .dropdown .dropbtn { 
    color : black;
    font-size : 19px;
    font-weight : bolder;
}
.navbar.medium a:hover, .navbar.medium .dropdown:hover .dropbtn { 
    background-color : #eb7c7a;
    /* color : ; */
}
.navbar.medium .dropdown .dropdown-content { 
    background-color : rgb(246,210,211);
}
.navbar.medium .dropdown .dropdown-content a { 
    color : black;
}

/* Zebra theme */


html.zebra { 
    background-color : teal;
    /* background-image : ;
    background-size : ;
    background-attachment : ; */
}
.zebra.column { 
    background-color : rgba(0,0,0,0);
    box-shadow : 0 0 3px 3px #786481;
    /* border : ;
    cursor : ; */
}
.zebra h3 { 
    color : white;
    /* font-family : ;
    font-size : ;
    text-align : ;
    font-weight : ; */
}
/* .zebra.card { 
    color : ;
    text-align : ;
    font-family : ;
    background-color : ;
    margin-bottom : ;
    box-shadow : ;
} */
/* .zebra h5 { 
    font-family : ;
    font-size : ;
    color : ;
    padding-top : ;
} */
.zebra .card:nth-child(even) { 
    background-color : #f2f2f2;
    color : #161818;
}
.zebra .card:nth-child(odd) { 
    background-color : #161818;
    color : #f2f2f2;
}
/* .zebra p { 
    font-size : ;
} */
/* .zebra.newCard { 
    color : ;
    font-weight : ;
    font-family : ;
    background : ;
    text-decoration : ;
    font-size : ;
    min-width : ;
    width : ;
    border : ;
    padding : ;
    margin : ;
} */
/* .zebra.newCard:hover { 
    background-color : ;
    color : ;
    border-radius : ;
} */
/* .navbar.zebra { 
    background-color : ;
    border : ;
    font-family : ;
    font-size : ;
    font-weight : ;
    box-shadow : ;
} */
/* .navbar.zebra a { 
    color : ;
    text-decoration : ;
} */
/* .navbar.zebra .dropdown .dropbtn { 
    color : ;
    font-size : ;
    font-weight : ;
} */
/* .navbar.zebra a:hover, .navbar.zebra .dropdown:hover .dropbtn { 
    background-color : ;
    color : ;
} */
/* .navbar.zebra .dropdown .dropdown-content { 
    background-color : ;
} */
/* .navbar.zebra .dropdown .dropdown-content a { 
    color : ;
} */